/* Отступы лого */
.logo-font {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 15px;

  @media screen and (min-width: 481px) {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 15px;
  }

  @media screen and (min-width: 769px) {
    margin-top: 24px;
    margin-bottom: 25px;
  }
}
/* Обнуление отступа <p>-лого  */
.logo-position {
  margin: 0;
}

/* Отступы Навигация контакты */
.nav-contacts {
  display: none;

  @media screen and (min-width: 481px) {
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: auto;
    padding: 0;

    & > li:first-child {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 769px) {
    margin-left: auto;
    padding: 0;

    & > li:first-child {
      margin-right: 30px;
    }
  }
}

/* Шрифт в навигации ========РАЗНЫЕ ШРИФТЫ в разных девайсах*/
.nav-font {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Свойства блока хедер */
.header-menu,
.nav-contacts {
  @media screen and (max-width: 481px) {
    display: none;
  }

  @media screen and (min-width: 481px) {
    display: flex;
    // flex-direction: column;
  }
}

.nav-contacts {
  @media screen and (min-width: 481px) and (max-width: 769px) {
    flex-direction: column;
  }
}

/* Отступы меню навигации */
.header-menu {
  @media screen and (min-width: 481px) {
    margin-left: 81px;
    padding: 0;
  }

  @media screen and (min-width: 769px) {
    margin-left: 85px;
    padding: 0;
  }
}

.nav-list {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

/* Правый отступ меню навигации */
// .nav-list:not(:last-child) {
//   margin-right: 50px;
// }

/* Цвет контактов + анимация в навигации и футере */
.contacts {
  color: $primary-text-color;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Навигация флекс-бокс контакты */
.navBox-contacts {
  display: flex;
  align-items: center; /*    проверить baseline*/
}

/* SVG icons */
.decoration {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

/* Контакты левый отступ от иконки */
.nav-contacts span {
  padding-left: 10px;
}

/* Флекс контейнер для ссылки <а> */
.contacts.nav-font {
  display: flex;
}

/* Current page */
.current::after {
  content: "";
  position: absolute;
  display: flex;
  width: 100%;
  height: 4px;
  background: $accent-color-blue;
  border-radius: 2px;
  margin-top: 28px;
}

/* Ховер+ анимация меню навигации */
.logo.hover-text:hover,
.logo.hover-text:focus,
.contacts.hover-text:hover,
.contacts.hover-text:focus {
  color: $accent-color-blue;
}

.current {
  color: $accent-color-blue;
}

.mobile-menu-button {
  display: inline-flex;
  margin: 0;
  margin-right: 5px;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }
}
