/* ================================Свойства блока Преимущества====================== */
/* Отступы блока Преимущества */
.advant {
  padding: 0;

  /* Падинги всей секции */
  &-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and(min-width: 481px) {
    display: flex;
    flex-wrap: wrap;

    /* Падинги всей секции */
    &-section {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  @media screen and(min-width: 769px) {
    display: flex;

    /* Падинги всей секции */
    &-section {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
}
// Стили списка преимуществ li
.advant-list {
  @media screen and (max-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 481px) {
    width: calc((738px - 30px) / 2);
    margin-bottom: 30px;

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 769px) {
    width: calc((1170px - 90px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

/* Свойства SVG иконок */
.advant-svg {
  width: 450px;
  padding: 25px 190px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $gray-bg-color;

  @media screen and (min-width: 481px) {
    width: 354px;
    padding: 25px 142px;
  }

  @media screen and (min-width: 769px) {
    width: 270px;
    padding: 25px 100px;
  }
}

/* Стили текста заголовка секции Преимущества */
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: auto;
}
/* Стили блока Преимущества */
.text-advetages {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
}
