/* =============================Стили секции Наша команда=========================== */

/* Отступы всей секци Наша команда */
.team {
  background-color: $gray-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 481px) and (max-width: 768px) {
    background-color: $white-bg-color;
  }

  @media screen and(min-width:769px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* Стили Наша команда заголовок */
.team-title {
  margin-top: 0;
  display: flex;
  justify-content: center;
  letter-spacing: 0.03em;

  @media screen {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 769px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.our-team .logo {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.proffesion {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Обнуление отступов списка UL */
.our-team {
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;

  @media screen and(max-width: 480px) {
    flex-direction: column;
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

/* Отступы списка членов команды */
.team-list {
  display: inline-block;
  background-color: $white-bg-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  @media screen and (max-width: 480px) {
    width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 354px;

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 769px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  /* Отступы имен членов команды */
  & .logo {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  /* Отступы от фото команды */
  & .image-block {
    margin-bottom: 30px;
  }
}

/* Отступы профессий членов команды */
.proffesion {
  margin-top: 0px;
  margin-bottom: 16px;
}

/* Стили соц сетей команды */
.our-team-links {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;

  /* Правый отступ между иконками соцсетей */
  & > li:not(:last-child) {
    margin-right: 10px;
  }
}

/* Стили ссылок на соцсети + SVG */
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #afb1b8; /* --- цвет иконок в ссылках---*/
  fill: currentColor;
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* Hover и Focus для иконок соцсетей */
  &:hover,
  &:focus {
    fill: $white-bg-color;
    background-color: $accent-color-blue;
  }
}

/* Пример - было в отдельных классах - внес внутрь через & - Hover и Focus для иконок соцсетей */
// .social-links:hover,
// .social-links:focus {
//   fill: var(--white-bg-color);
//   background-color: var(--accent-color-blue);
// }
