/* Отступы секции Примеры работ=============ПРИМЕРЫ РАБОТ========== */
.works {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 769px) {
    padding-top: 93px;
    padding-bottom: 94px;
  }
}

/* Стили секции Примеры работ */
.title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* Стиль текста виды работ */
.work-type {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin-top: 4px;
  margin-bottom: 0;
}

.examples {
  text-decoration: none;
  overflow: hidden;
}

/* Флекс бокс с примерами работ*/
.works-box {
  display: flex;
  flex-wrap: wrap;
}
/* Св-ва єлемента списка примеров работ  li*/
.work-list {
  position: relative;
  margin-top: 30px;
  cursor: pointer;
  overflow: hidden;
  width: 450px;
  /* transition - одной строкой */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 354px;

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 769px) {
    width: calc((1170px - 60px) / 3);

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}

/* Отступы заголовков Примеров работ */
.logo.title {
  margin-bottom: 0;

  @media screen and (min-width: 481px) and (max-width: 768px) {
    white-space: nowrap;
  }
}

/* Отступы списка работ */
.works-exampl-ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

  @media screen and (max-width: 480px) {
    width: 450px;
    margin-right: 0;
  }
}

/* Свойства блока карточки товара  */
.card {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;

  /* Бордеры и отступы контента карточек работ */
  &-content {
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $white-bg-color;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    z-index: 2;
  }

  @media screen and (max-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 354px;
  }
}

/* Скрытый блок на карточке */
.hidden-box {
  position: absolute;
  opacity: 0.9;
  margin: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  transform: translateY(0%); /* 294px*/
  transition-property: transform, opacity;
  transition-duration: 250ms, 1250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;

  @media screen and (max-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 769px) {
    width: calc((1170px - 60px) / 3);
  }
}

/* Текст в скрытом блоке на карточке */
.card-hideText {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: $white-bg-color;
  background-color: $accent-color-blue;
  width: 450px;
  height: 294px;
  padding: 64px 24px 63px;
  margin: 0;

  @media screen and (min-width: 481px) {
    width: 354px;
  }

  @media screen and (min-width: 769px) {
    width: calc((1170px - 60px) / 3);
  }
}

/* Интерактивные действия с карточками  */
.work-list:hover .hidden-box {
  transform: translateY(-100%);
}

.work-list:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
