// ================Палитра index.html
// :root {
//   --primary-text-color: #757575;
//   --secondary-text-color: #212121;
//   --white-bg-color: #ffffff;
//   --gray-bg-color: #f5f4fa;
//   --footer-bg-color: #2f303a;
//   --footer-contacts-color: rgba(255, 255, 255, 0.6);
//   --accent-color-blue: #2196f3;
//   --wtah-we-do-bg: rgba(47, 48, 58, 0.8);
//   --made-by-studentsGoIT: rgba(255, 255, 255, 0.4);
// }

// ================Палитра index.html
$primary-text-color: #757575;
$secondary-text-color: #212121;
$white-bg-color: #ffffff;
$gray-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$accent-color-blue: #2196f3;
$wtah-we-do-bg: rgba(47, 48, 58, 0.8);
$made-by-studentsGoIT: rgba(255, 255, 255, 0.4);

// ================Палитра portfolio.html
// :root {
//   --title-black: #212121;
//   --filter-bg: #f5f4fa;
//   --accent-color-blue: #2196f3;
//   --white-bg-color: #ffffff;
//   --primary-text-color: #757575;
// }

$title-black: #212121;
$filter-bg: #f5f4fa;
$accent-color-blue: #2196f3;
$white-bg-color: #ffffff;
$primary-text-color: #757575;
